<%- include('header.ejs') %>

<!-- Google Maps TODO4.4 use library instead of CDN -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GMAPS_API %>&callback=initMap&libraries=drawing&v=weekly"
  defer
></script>

<div class="edit-container">
  <h1 class="title">Edit Note</h1>
  <form
    action="/notes/<%= note._id %>/edit"
    method="post"
    class="edit-note-form"
  >
    <!-- Hidden input fields needed to pass the note data -->
    <input
      type="hidden"
      id="location-input"
      name="location"
      value='{"type": "Point", "coordinates": [<%= note.location.coordinates[1] %>, <%= note.location.coordinates[0] %>]}'
    />
    <input type="hidden" name="radius" value="<%= note.radius %>" />
    <input type="hidden" name="time" value="<%= note.time %>" />

    <!-- Hidden field need to send PUT request, HTML forms usually only support GET and   POST -->
    <input type="hidden" name="_method" value="PUT" />

    <label for="note-body">Note:</label><br />
    <textarea name="body" id="note-body" rows="20" cols="200" required>
<%= note.body %></textarea
    >
    ><br />

    <!-- Map -->
    <div id="map" style="width: 500px; height: 500px">
      <script>
                function initMap() {
                  const mapOptions = {
                    center: { lat: <%= note.location.coordinates[0] %>, lng: <%= note.location.coordinates[1] %> },
                    zoom: 13,
                    mapTypeId: "roadmap",
                  };
                  const map = new google.maps.Map(document.getElementById("map"), mapOptions);

                  const circleOptions = {
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: "#FF0000",
                    fillOpacity: 0.35,
                    map,
                    center: mapOptions.center,
                    radius: <%= note.radius || 1000 %>,
                  };
                  const circle = new google.maps.Circle(circleOptions);

                  const markerOptions = {
                    position: mapOptions.center,
                    map,
                    draggable: true,
                    title: "Drag me!",
                  };
                  const marker = new google.maps.Marker(markerOptions);

                  // Event handler for moving marker
                  marker.addListener("dragend", (event) => {
          const { lat, lng } = event.latLng;
          locationInput.value = `{"type": "Point", "coordinates": [${lat}, ${lng}]}`;
          circle.setCenter({ lat, lng });
        });
                }
      </script>
    </div>

    <button type="submit">Save Changes</button>
  </form>
  <form
    action="/notes/<%= note._id %>/delete"
    method="POST"
    class="button delete-button"
  >
    <button type="submit" class="button delete-button">Delete</button>
    <input type="hidden" name="_method" value="DELETE" />
    <a href="/notes" class="button">Cancel</a>
  </form>

  <p><a href="/notes">Back to All Notes</a></p>
</div>

<%- include('footer.ejs') %>
