<%- include('header.ejs') %>

<div class="edit-container">
<h1 class="title">Edit Note</h1>
<form
  action="/notes/<%= note.id %>/edit"
  method="post"
  class="edit-note-form">
  <!-- hidden input needed to send PUT request, default HTML forms only support GET and POST -->
  <input type="hidden" name="_method" value="PUT" />

  <label for="note-body">Note:</label><br />
  <textarea name="body" id="note-body" rows="20" cols="200" required>
<%= note.body %></textarea><br />

<%- include('mapmark.ejs') %>
<button type="submit">Save Changes</button>
</form>
<a href="/notes" class="button">Cancel</a><br>
<form
  action="/notes/<%= note.id %>/delete"
  method="POST"
  class="button delete-button">
  <button type="submit" class="button delete-button">Delete</button>
  <input type="hidden" name="_method" value="DELETE" />
</form>

  <p><a href="/notes">Back to All Notes</a></p>
</div>

<%- include('footer.ejs') %>
