<%- include('header.ejs') %>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="note-container">
  <h1 class="title">Your Notes</h1>

  <% if (notes.length > 0) { %> <% notes.forEach(note => { %> <% if (note.userId
  && user && user._id && note.userId.toString() === user._id.toString()) { %>
  <div class="note" id="note-<%= note._id %>">
    <div class="note-preview" data-note-id="<%= note._id %>">
      <%- marked(note.body.split('\n')[0]) %>
    </div>
    <div class="note-full" style="display: none">
      <%- marked(note.body.split('\n').slice(1).join('\n')) %>
    </div>
    <div class="note-actions-ui">
      <form action="/notes/<%= note._id %>/edit" method="GET" class="button">
        <button type="submit">Edit</button>
      </form>
      <form
        action="/notes/<%= note._id %>/delete"
        method="POST"
        class="button"
        class="delete-button"
      >
        <button type="submit">Delete</button>
        <input type="hidden" name="_method" value="DELETE" />
      </form>
    </div>
  </div>
  <% } %> <% }); %> <% } else { %>
  <p>You don't have any notes yet.</p>
  <% } %>
  <p><a href="/notes/new">Create a new note</a></p>
  
  <script>
    function toggleNote(noteId) {
      const noteFull = document.querySelector(`#note-${noteId} .note-full`)
      if (noteFull.style.display === "none" || noteFull.style.display === "") {
        noteFull.style.display = "block"
      } else {
        noteFull.style.display = "none"
      }
    }
    
    const notePreviews = document.querySelectorAll(".note-preview")
    notePreviews.forEach((element) => {
      element.addEventListener("click", (event) => {
        const noteId = element.getAttribute("data-note-id")
        toggleNote(noteId)
      })
    })
    </script>
</div>



<%- include('footer.ejs') %>