<%- include('header.ejs') %>

<div id="notes" style="margin-top: 1em">
  <h1>Your Notes</h1>
  <div class="note-container">
    <ul class="notes-list">
      <% if (notes.length > 0) { %> <% notes.forEach(note => { %> <% if
      (note.userId && user && user._id && note.userId.toString() ===
      user._id.toString()) { %>
      <li>
        <p class="note-body"><%= note.body %></p>
        <form action="/notes/<%= note._id %>/edit" method="GET" class="button">
          <button type="submit">Edit</button>
        </form>
        <form
          action="/notes/<%= note._id %>/delete"
          method="POST"
          class="button"
          class="delete-button"
        >
          <button type="submit">Delete</button>
          <input type="hidden" name="_method" value="DELETE" />
        </form>
      </li>
      <% } %> <% }); %> <% } else { %>
      <p>You don't have any notes yet.</p>
      <% } %>
    </ul>
    <p><a href="/notes/new">Create a new note</a></p>
  </div>
</div>
<%- include('footer.ejs') %>
