<%- include('header.ejs') %>

<div class="edit-note-container">
  <h1>Edit Note</h1>
  <form action="/notes/<%= note._id %>/edit" method="post" id="edit-note-form">
    <input type="hidden" name="_method" value="PUT" />
    <label for="note-body">Note:</label><br />
    <textarea name="body" id="note-body" rows="20" cols="200" required>
<%= note.body %></textarea
    ><br />
    <button type="submit">Save Changes</button>
  </form>
  <form
    action="/notes/<%= note._id %>/delete"
    method="POST"
    class="button"
    class="delete-button"
  >
    <button type="submit">Delete</button>
    <input type="hidden" name="_method" value="DELETE" />
  </form>

  <p><a href="/notes">Back to All Notes</a></p>
</div>

<%- include('footer.ejs') %>
